<?xml version="1.0" encoding="UTF-8" ?>
<server>
    <service>
        <connector port="8080" protocol="HTTP/1.1" />
        <engine>
            <host name="localhost" appBase="C:\Users\StringTek\IdeaProjects\toy-tomcat\webapps"/>
            <host name="example.com" appBase="C:\Users\StringTek\IdeaProjects\toy-tomcat\webapps2"/>
        </engine>
    </service>
</server>